.auth {
    text-align: center;
    /*background-image: linear-gradient(110deg, rgba(246,199,207,1) 5%, rgba(193,233,255,1) 73%,  rgba(245,191,201,1) 19%,  rgba(248,143,165,1) 100% );*/
    background-image: linear-gradient(315deg, rgba(230,219,222,1) 10% , rgba(203,232,248,1) 73%);
}

.test {
    background-image: url('../app/components/Images/people.svg')
}
input.form-control, button.btn.btn-secondary{
    background-color: white;
    opacity: 0.5;
    border: none;
    color:black
}

.image {
    z-index: 1;
    margin-top:-100px;
    margin-left:-30%;
}

.form {
    margin-top:200px;
    margin-bottom:-250px;
}

.logIn {
    font-size: 70px;
    color: gray;
}

label {
    color: gray;
}

.menu {
    display: block;
    width: 100%;
    height: 20px;
    background-image: linear-gradient(315deg, rgba(230,219,222,1) 10% , rgba(203,232,248,1) 73%);

}