.auth {
    text-align: center;
    width:100vw;
    height: 100vh;
    overflow: hidden;
    /*background-image: linear-gradient(110deg, rgba(246,199,207,1) 5%, rgba(193,233,255,1) 73%,  rgba(245,191,201,1) 19%,  rgba(248,143,165,1) 100% );*/
    background-image: linear-gradient(315deg, rgba(230,219,222,1) 10% , rgba(203,232,248,1) 73%);
}
html {
    overflow:hidden;
}
.test {
    background-image: url('../app/components/Images/people.svg')
}
input.form-control, button.btn.btn-secondary, button.dropdown-toggle.btn.btn-secondary{
    background-color: white;
    border: none;
    width: 19vw;
    height:6vh;
    background:#FFF;
    color:#5202FA;
    border-radius:10px;
}

div.dropdown-menu.show, button.dropdown-item {
    background-color: white;
    height:6vh;
    border: none;
    background:#FFF;
    color:#5202FA;
}
input.form-control{
    background-color: white;
    border: none;
    width: 19vw;
    height:6vh;
    background:#FFF;
    color:#5202FA;
    border-radius:10px;
    font-weight:200;
    text-align: center;
}
input.form-control::placeholder {
    color: #5202FA;  
    font-weight:200;
  }

button.add.btn.btn-secondary{
    width:7vw;
    font-weight:600;
    margin-left:30%;
}

.image {
    z-index: 1;
    margin-top:-10px;
    margin-left:-10%;
}

button.category.btn.btn-secondary {
    font-weight:200;
}

.form {
    margin-top:200px;
    margin-bottom:-250px;
}

.logIn {
    font-size: 70px;
    color: gray;
}

label {
    color: gray;
}

.menu {
    display: block;
    width: 100%;
    height: 15px;
    background-image: linear-gradient(315deg, rgba(230,219,222,1) 10% , rgba(203,232,248,1) 73%);
}

.menu-back {
    background-color: #F0F0F0;
    width: 100%;
}

.cardHome1, .card-details {
  border-radius: 20px;
  background: #EAD3D3;
  width: 250px;
  height: 175px; 
  box-shadow: 30px 30px 50px #a8a8a8;
}

.account-details {
    border-radius: 20px;
    background: rgb(68, 68, 68);
    width: 250px;
    height: 350px; 
}

.space {
    padding:40px;
}

.cardHome2 {
    border-radius: 20px;
      background: #BDD4E5;
      width: 250px;
      height: 175px; 
      box-shadow: 30px 30px 50px  #a8a8a8;
}

.cardHome3 {
    border-radius: 20px;
      background: #B3E8C5;
      width: 250px;
      height: 175px; 
      box-shadow: 30px 30px 50px  #a8a8a8;
}

.home {
    background: #E6E6E6;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.cardDetails {
    border-radius: 20px;
      background: #b2b2b2;
      width: 250px;
      height: 400px; 
}

.home-cards {
    padding: 50px;
    margin-left:7%;
}